* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.col-1 {
    width: 60%;
    font-size: 1rem;
    font-weight: bold;
    order: 1;
}

.col-2 {
    width: 60%;
    height: 40px;
    font-size: .9rem;
    order: 3;
}

.customer-address-1,
.customer-address-2 {
    display: block;
    width: 100%;
    font-size: .8rem;
}

.col-3 {
    width: 30%;
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
    order: 2;
}

.col-4 {
    width: 40%;
    font-size: .9rem;
    text-align: right;
    order: 4;
}



.table-foot-1 {
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.table-foot-2 {
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    padding-right: 10px;
}

.tr-foot {
    back-ground: white;
    border-bottom: none;
    height: 50px;
    border-top: darkgrey solid 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        display: inline-block;
        width: 15%;
        order: unset;
        text-align: left;
        font-weight: normal;
        font-size: 1rem;
    }

    .col-1 {
        width: 25%;
        padding-right: 15px;
    }

    .col-2 {
        width: 45%;
        text-overflow: ellipsis;
        height: 25px;
        padding-right: 15px;
    }



    .customer-address-1,
    .customer-address-2 {
        display: inline;
        width: auto;
        font-size: inherit;
    }

    .customer-address-1::after {
        content: ","
    }

    .customer-address-2::before {
        content: " "
    }


}

@media screen and (min-width: 1025px) {

    body {
        background-color: #dbd8e3;
        padding-top: 0px;
    }

    tr:nth-last-child(1) {
        border-bottom: solid 1px darkgrey;
    }

    .table-customers {
        margin-bottom: 80px;
    }

        

    

}