* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    padding: 90px 0px;
}

.header-customer {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    background-color: #dbd8e3;
    z-index: 310;
    padding: 2%;
}

a.back-arrow {
    color: #2a2438;
}

h2 {
    position: fixed;
    top: 0px;
    left: 25%;
    display: inline-block;
    font-weight: normal;
    height: 20px;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #2a2438;
}


#site-nav {
    display: none;
}

.customer-balance {
    position: fixed;
    top: 60px;
    display: block;
    font-weight: normal;
    height: 20px;
    width: 96%;
    text-align: center;
    font-size: .8rem;
    color: #2a2438;
}

.customer-balance-alt {
    position: fixed;
    top: 40px;
    display: block;
    font-weight: normal;
    height: 20px;
    width: 96%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #2a2438;
}

#tr-head {
    display: none;
}

.th-customers {
    display: none;
}

.label-1 {
    display: none;
}

.table-address-1,
.table-address-2 {
    display: block;
}

.address {
    height: 80px;
}

.customer-preview-invoice-table .col-1 {
    order: 3;
    width: 50%;
}

.customer-preview-invoice-table .col-2 {
    order: 1;
    font-weight: bold;
    width: 70%;
}

.customer-preview-invoice-table .col-3 {
    order: 2;
    font-weight: bold;
    width: 30%;
    text-align: right;
}

.customer-preview-invoice-table .col-4 {
    order: 4;
    width: 50%;
    text-align: right;
}

@media screen and (min-width: 768px) {

    .main {
        padding: 50px 0px;
    }

    .table-address-1,
    .table-address-2 {
        display: inline-block;
    }

    .table-address-1::after {
        content: ","
    }

    .table-address-2::before {
        content: " "
    }

    .address {
        height: inherit;
    }

    .col-1 {
        display: inline-block;
        width: 20%;
        padding-right: 15px;
    }

    .col-2 {
        width: 70%;
        text-overflow: ellipsis;
        padding-right: 15px;
    }

    .col-3 {
        width: 10%;
        text-overflow: ellipsis;
        padding-right: 15px;
    }

    .customer-preview-invoice-table .col-1 {
        order: 2;
        width: 30%;
        text-align: left;
    }

    .customer-preview-invoice-table .col-2 {
        order: 1;
        width: 30%;
        padding-right: 15px;
    }

    .customer-preview-invoice-table .col-3 {
        order: 3;
        width: 20%;
        text-align: right;
        padding-right: 0px;
    }
    .customer-preview-invoice-table .col-4 {
        order: 4;
        width: 11%;
        padding-right: 15px;
    }

}

@media screen and (min-width: 1025px) {

    #site-nav {
        display: block;
    }

    .main {
        padding: 0px 0px;
        background: white;
    }

    body {
        background-color: white;
        padding-top: 0px;
    }

    .header-customer {
        background-color: white;
        padding: 10px;
    }

    .header-customer h2 {
        position: fixed;
        top: 40px;
        left: 210px;
        width: 200px;
        margin-left: 35px;
        display: block;
        text-align: left;
    }

    .customer-balance {
        position: fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        max-width: 1800px;
        text-align: right;
        display: block;
    }

    .customer-balance-alt {
        position: fixed;
        top: 100px;
        left: 0px;
        width: 100%;
        max-width: 1800px;
        text-align: right;
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .back-arrow {
        display: block;
        position: fixed;
        top: 10px;
        left: 205px;
    }

    .header-customer a {
        color: blue;
    }

    .header-customer a:after {
        content: "Customers";
        vertical-align: super;
    }

    .header-customer a:hover {
        color: lightskyblue;
        font-weight: bold;
    }

    #tr-head {
        display: block;
    }

    .table-container {
        border-top: none;
    }



    tr:nth-last-child(1) {
        border-bottom: solid 1px darkgrey;
    }

    .col-1 {
        width: 15%;
        font-size: 1rem;
        font-weight: bold;
        order: 1;
    }

    .col-2 {
        width: 60%;
        height: 40px;
        font-size: .9rem;
        order: 3;
    }

    .col-3 {
        width: 15%;
    }

    .col-4 {
        width: 10%;
    }



    .plus-button {
        top: 95px;
        left: 250px;
        right: auto;
    }


    