* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.col-1 {
    width: 30%;
    font-size: .8rem;
}

.col-2 {
    width: 45%;
    font-size: .8rem;
}

.col-3 {
    display: none;
}

.col-4 {
    width: 25%;
    font-size: .8rem;
    text-align: left;
}

.table-foot-1 {
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.table-foot-2 {
    display: inline-block;
    font-size: .9rem;
    font-weight: bold;
    padding-right: 10px;
}

.tr-foot {
    back-ground: white;
    border-bottom: none;
    height: 50px;
    border-top: darkgrey solid 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        display: inline-block;
        width: 15%;
        order: unset;
        text-align: left;
        font-weight: normal;
        font-size: 1rem;
    }

    .col-2 {
        width: 30%;
    }

    .col-3 {
        width: 40%;
    }

    .table-foot-1 {
        font-size: 1rem;
        width: 85%;
    }

    .table-foot-2 {
        font-size: 1rem;
        width: 15%;
    }

}  

@media screen and (min-width: 1025px) {

    body {
        background-color: #dbd8e3;
        padding-top: 0px;
    }

    header {
        box-shadow: none;
        border: none;
    }

    .tr-foot {
        height: 100px;
    }

}