
.invoices-header {
    border: none;
    box-shadow: none;
}

.invoices-main {
    background-color: #dbd8e3;
}

.invoice-button-unpaid-top {
    position: fixed;
    top: 61.5px;
    left: 240px;
    height: 50px;
    width: 150px;
    background: white;
    z-index: 11;
    border: solid 2px darkgrey;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.invoice-button-paid-top {
    position: fixed;
    top: 62.5px;
    left: 390px;
    height: 49px;
    width: 150px;
    background: #dbd8e3;
    z-index: 11;
    border: solid 2px darkgrey;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.invoices-container-unpaid {
    position: fixed;
    top: 110px;
    left: 0px;
    width: 100%;
    padding-left: 200px;
    background: white;
    height: calc(100vh - 100px);
    border-top: darkgrey 2px solid;
}

.invoices-container-paid {
    position: fixed;
    top: 110px;
    left: 0px;
    width: 100%;
    padding-left: 200px;
    background: white;
    height: calc(100vh - 100px);
    border-top: darkgrey 2px solid;
    z-index: 12;
    display: none;
}

.invoice-button-unpaid-bottom {
    position: fixed;
    top: 62.5px;
    left: 240px;
    height: 49px;
    width: 150px;
    background: #dbd8e3;
    z-index: 11;
    border: solid 2px darkgrey;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.invoice-button-paid-bottom {
    position: fixed;
    top: 61.5px;
    left: 390px;
    height: 50px;
    width: 150px;
    background: white;
    z-index: 11;
    border: solid 2px darkgrey;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.invoices-container-paid:target {
    display: block;
}

table {
    width: 90%;
    max-width: 1000px;
    margin: 5%;
    border-collapse: collapse;
}

th{
    border-bottom: solid 2px black;
}

tr {
    border-bottom: solid 1px darkgrey;
}

td {
    height: 40px;
    padding: 10px auto;
}

th:nth-child(3),
th:nth-child(7) {
    display: none;
}

th:nth-child(1) {
    padding-left: 10px;
}

th:nth-child(6){
    text-align: right;
    padding-right: 10px;
}

td:nth-child(3) {
    display: none;
}

td:nth-child(1) {
    width: 20%;
    padding-left: 10px;
}

td:nth-child(2) {
    width: 20%;
}

td:nth-child(4) {
    width: 35%;
}

td:nth-child(5) {
    width: 15%;
}

td:nth-child(6) {
    width: 10%;
    text-align: right;
    padding-right: 10px;
}






