body {
    background-color: white;
    color: black;
    font-family: Verdana;
    text-align: left;
    padding: 0px;
    border: none;
    width: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}



.ribbon {
    height: 40px;
    padding: 8px 15px 8px;
    font-size: .9rem;
    font-weight: 600;
    height: 35px;
    width: 100%;
}

.sticky-ribbon {
    background-color: #dbd8e3;
    position: sticky;
    top: 84px;
    z-index: 97;
    margin-top: 20px;
    border-top: solid darkgrey 1px;
}

.fixed-ribbon {
    background-color: #dbd8e3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-bottom: solid darkgrey 1px;
    border-top: none;
    position: fixed;
    top: 85px;
    z-index: 96;
}

.gradient {
    display: none;
}

.table-container,
.table-container-alt {
    position: relative;
    display: block;
    width: 100%;
    background: white;
    margin: 0px;
    border: none;
    padding-top: 35px;
    overflow: visible;
}

.site-nav {
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    background-color: #2a2438;
    color: #dbd8e3;
    overflow-x: hidden;
    text-align: left;
}

.site-nav-top {
    width: 100%;
    height: 30px;
    padding: 0px;
}

.solo {
    display: inline-block;
    width: 50%;
    margin: 10px 0px;
    height: 30px;
    padding: 0px 20px;
    font-size: 1rem;
}

.site-header-company-name {
    display: inline-block;
    width: 48%;
    margin: 10px 0px;
    height: 30px;
    padding: 0px 20px;
    font-size: .9rem;
    text-align: right;
}

.navigation {
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    height: 48px;
    background: #2a2438;
    border-bottom: #dbd8e3 solid 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.navigation span {
    display: block;
    text-align: center;
}

.navigation li {
    margin: 5px 0px 0px;
    padding: 0px;
    display: inline-block;
    text-decoration: none;
    color: #dbd8e3;
    text-align: center;
    width: 18%;
}

.navigation a {
    font-size: 10px;
    padding-bottom: 5px;
    display: block;
    color: #dbd8e3;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
}

.navigation a:hover {
    background-color: #dbd8e3;
    color: #2a2438;
}

.active a {
    background-color: #dbd8e3;
    color: #2a2438;
}

header {
    display: none;
}

.main {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    width: 100%;
    margin: 0px;
    padding: 85px 0px 60px;
    background: white;
    min-height: 100%;
}

.plus-button {
    display: block;
    position: fixed;
    z-index: 301;
    bottom: 10px;
    right: 5px;
    border: none;
    background: transparent;
}

.plus-button .material-icons {
    float: left;
    display: inline-block;
    font-size: 48px;
    padding: 2px;
    border: solid 2px #2a2438;
    border-radius: 28px;
    background: #dbd8e3;
    box-shadow: 1px 1px 5px grey;
    margin: 5px;
}

.plus-button-text {
    display: none;

}

.plus-button:hover {
    background: #e9e7ee;
    box-shadow: 1px 1px 5px grey;
}


@media screen and (min-width:768px) {

    body {
        padding-top: 140px;
    }

    .main {
        padding-bottom: 100px;
    }

    .plus-button {
        bottom: 20px;
        right: 20px;
    }

    .plus-button .material-icons {
        font-size: 64px;
        border-radius: 36px;
    }

    .plus-button-text {
        display: none;
    }

    .table-container,
    .table-container-alt {
        padding-top: 75px;
    }

     .ribbon {
         background-color: #dbd8e3;
     }

     .sticky-ribbon {
         top: 84px;
         box-shadow: none;
         z-index: 100;
     }

     .fixed-ribbon {
         top: 85px;
         z-index: 99;
     }

     .gradient {
         display: block;
         height: 40px;
         width: 100%;
         margin: 0px;
         background: white;
         border-top: darkgrey solid 1px;
     }


}

@media screen and (min-width:1025px) {

    .table-container,
    .table-container-alt {
        position: fixed;
        top: 110px;
        left: 0px;
        width: 100%;
        z-index: 9;
        padding-top: 85px;
        padding-bottom: 600px;
        background: white;
        border-top: solid 1px darkgrey;
        height: calc(100vh - 100px);
        overflow: auto;
    }

    .table-container {
        display: block;
    }

    .table-container-alt {
        display: none;
    }

    .table-container-alt:target {
        display: block;
    }

    .main {
        padding: 80px 0px 60px 195px;
        background-color: #dbd8e3;
    }

    .site-nav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 499;
        top: 0;
        left: 0;
        background-color: #2a2438;
        overflow-x: hidden;
        text-align: left;
    }


    .site-nav-top {
        width: 200px;
        height: 120px;
    }

    .solo {
        width: 100%;
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0px;
        text-decoration: none;
        font-size: 28px;
        color: #dbd8e3;
        display: inline-block;
    }

    .site-header-company-name {
        width: 100%;
        padding-left: 16px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin: 0px;
        font-size: 20px;
        color: #dbd8e3;
        display: inline-block;
    }

    .navigation {
        display: block;
        padding: 0px;
        margin: 0px;
        border-bottom: none;
    }

    .navigation li {
        width: 100%;
        margin: 0px;
        text-decoration: none;
        text-align: left;
        color: #dbd8e3;
        display: inline-block;
        border-bottom: 1px solid #dbd8e3;
    }

    .navigation li:nth-child(1) {
        border-top: 1px solid #dbd8e3;
    }

    .navigation span {
        display: inline-block;
        text-align: center;
    }

    .navigation a {
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 1.2rem;
        display: block;
        border-radius: 0px;
        color: #dbd8e3;
    }

    .navigation a:hover {
        background-color: #dbd8e3;
        color: #2a2438;
    }

    .active a {
        background-color: #dbd8e3;
        color: #2a2438;
    }

    header {
        display: block;
        width: calc(100% - 200px);
        position: fixed;
        z-index: 202;
        top: 0px;
        left: 200px;
        padding: 0px 0px 0px 20px;
        margin: 0px;
        height: 30px;
        background-color: #dbd8e3;
        box-shadow: none;
        border: none;
    }

    h2 {
        position: relative;
        top: 5px;
        height: 30px;
        font-size: 1rem;
        padding-left: 5px;
        color: #2a2438;
    }

    body {
        background-color: #dbd8e3;
        padding-top: 0px;
    }

    h2 {
        font-size: 1.2rem;
        color: #2a2438;
    }

    .plus-button {
        display: block;
        position: fixed;
        z-index: 301;
        top: 30px;
        right: 30px;
        bottom: auto;
        border: solid 2px #2a2438;
        border-radius: 20px;
        background: #dbd8e3;
    }

    .plus-button-text {
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
        height: 16px;
        padding: 9px 5px 8px;
    }

    .plus-button .material-icons {
        float: left;
        display: inline-block;
        font-size: 36px;
        padding: 0px;
        margin: auto 0px auto -5px;
        border: none;
        background: #dbd8e3;
        box-shadow: none;
    }

    .gradient {
        display: none;
    }

    .ribbon {
        width: calc(100vw - 280px);
        max-width: 1600px;
        margin: 0px auto 0px 235px;
        border: solid 1px darkgrey;
    }

    .sticky-ribbon {
        top: -36px;
        box-shadow: none;
        z-index: 100;
    }

    .fixed-ribbon {
        top: 160px;
        z-index: 99;
    }

}