
.overview-container-large {
    box-sizing:border-box;
    display: inline-block;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.overview-container-small {
    box-sizing:border-box;
    display: inline-block;
    margin: 0px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

.overview-invoice-chart-wrapper {
    box-sizing:border-box;
    background-color: white;
    margin: 1%;
    width: 98%;
    height: 200px;
    border: darkgrey 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
}

.overview-chart-header {
    display: inline-block;
    margin: 10px 0 0 20px;
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
}

.overview-chart-p {
    display: inline-block;
    margin: 5px 0 0 20px;
    width: 50%;
    font-size: .7rem;
}

.overview-chart-invoice-bar-wrapper {
    bottom: 0px;
    overflow: hidden;
    margin: 20px auto 0px;
    width: 100%;
}

.invoice-bar-unpaid {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 5% auto 0;
    width: 13%;
    height: 50px;
    border: black 2px solid;
    background-color: darkRed;
    border-radius: 5px;
}

.invoice-bar-paid {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0 auto 5%;
    width: 77%;
    height: 50px;
    border: black 2px solid;
    background-color: green;
    border-radius: 5px;
}

.overview-chart-invoice-UNPAID-span {
    float: right;
    margin-right: 5%;
}

.overview-chart-invoice-PAID-span {
    float: left;
    margin-left: 5%;
}

.overview-cashFlow-chart-wrapper {
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    margin: 1% 1% 0px;
    width: 98%;
    height: 350px;
    border: darkgrey 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    overflow: hidden;
}

.overview-profit-loss-chart {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 5%;
    width: 90%;
    height: 200px;
    border-bottom: darkgrey 2px solid;
}

.overview-bar-payments {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 10%;
    display: block;
    width: 20%;
    height: 166px;
    border: darkgrey 2px solid;
    border-bottom: none;
    background-color: #003a6d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overview-bar-expenses {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 40%;
    display: block;
    width: 20%;
    height: 34px;
    border: darkgrey 2px solid;
    border-bottom: none;
    background-color: #00539a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overview-bar-profit {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 70%;
    display: block;
    width: 20%;
    height: 138px;
    border: darkgrey 2px solid;
    border-bottom: none;
    background-color: #0072c3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overview-profit-loss-left-bold {
    float: left;
    width: 20%;
    text-align: center;
    margin: 0 0 0 12.5%;
    font-size: .7rem;
    font-weight: bold;
}

.overview-profit-loss-center-bold {
    float: left;
    text-align: center;
    width: 20%;
    margin: 0 0 0 7.8%;
    font-size: .7rem;
    font-weight: bold;
}

.overview-profit-loss-right-bold {
    float: right;
    text-align: center;
    width: 20%;
    margin: 0 14% 0 0;
    font-size: .7rem;
    font-weight: bold;
}

.overview-profit-loss-left-small {
    float: left;
    width: 20%;
    text-align: center;
    margin: 0 0 0 12.5%;
    font-size: .7rem;
}

.overview-profit-loss-center-small {
    float: left;
    text-align: center;
    width: 20%;
    margin: 0 0 0 7.8%;
    font-size: .7rem;
}

.overview-profit-loss-right-small {
    float: right;
    text-align: center;
    width: 20%;
    margin: 0 14% 0 0;
    font-size: .7rem;
}

.overview-expense-list {
    margin-left: 2%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.overview-expense-list li {
    margin-bottom: 10px;
}

.overview-expense-list-bold {
    font-weight: bold;
    font-size: 1rem;
    color: #00539a;
}

.overview-expense-list-small {
    font-size: .6rem;
}

.overview-payments-chart-wrapper {
    box-sizing:border-box;
    background-color: white;
    margin: 0px auto;
    width: 98%;
    height: auto;
    border: darkgrey 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
}

table {
    width: 92%;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 23px;
}

td:nth-child(1) {
    display: none;
}

td:nth-child(2) {
    font-size: 1rem;
    color: darkblue;
    width: 50%;
    font-weight: bold;
}

td:nth-child(3) {
    font-size: 1rem;
    color: darkblue;
    width: 50%;
    font-weight: bold;
    text-align: right;
}

td:nth-child(4) {
    font-size: .8rem;
    width: 100%;
    border-bottom: solid 1px darkgrey;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.overview-table-more {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.overview-table-more a {
    text-decoration: none;
    color: darkblue;
}

@media screen and (min-width: 768px) {
    .overview-expense-list {
        margin-left: 10%;
    }

    .overview-cashFlow-chart-wrapper {
        width: 47.5%;
        margin: 1%;
    }
    .overview-payments-chart-wrapper {
        margin: 1%;
    }

    td {
        margin: 12px auto;
    }

    td:nth-child(1) {
        display: inline-block;
        color: darkblue;
        font-size: 1rem;
        width: 35%;
    }

    td:nth-child(2) {
        font-size: 1rem;
        color: darkblue;
        width: 50%;
        font-weight: normal;
    }

    td:nth-child(3) {
        font-size: 1rem;
        width: 15%;
        text-align: right;
        font-weight: normal;
    }

    td:nth-child(4) {
        display: none;
    }

    tr {
        border-bottom: solid 1px darkgrey;
    }
}


@media screen and (min-width: 1025px) {

    .overview-container-large,
    .overview-container-small {
        width: 65%;
        min-width: 700px;
        max-width: 1000px;
        margin: 0px auto 0px 5%;
    }

}




