body {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #e9e7ee;
    font-family: Verdana;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}

.material-symbols-outlined {
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:#2a2438;
}

address {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}


.preview-main {
        width: 100%;
        background-color: #e9e7ee;
        z-index: 10;
        padding: 70px 0px 20px;
        overflow: auto;
    }


/* Mobile UI

Header. */

.header-view,
.header-edit {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 200;
    padding: 5px;
    background: #e9e7ee;
    border-bottom: solid darkgrey 1px;
    box-shadow: 0px 3px 15px -9px rgba(0, 0, 0, 0.75);
}

.header-view h1,
.header-edit h1 {
    position: fixed;
    top: 0px;
    left: 25%;
    display: inline-block;
    font-weight: normal;
    height: 30px;
    width: 50%;
    text-align: center;
    font-size: 1rem;
}

.footer-edit,
.footer-view {
    position: fixed;
    bottom: 0px;
    z-index: 200;
    width: 100%;
    height: 60px;
    display: block;
    padding: 15px;
    background-color: #e9e7ee;
}

/* Buttons */

.back-button {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.button {
    background-color: #dbd8e3;
}

.button:hover,
button a:hover,
.material-symbols-outlined:hover {
    background: #e9e7ee;
}

.button:hover {
    box-shadow: 1px 1px 5px grey;
}

.button-mini-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    border: none;
    margin: 0px 1vw;
    border-radius: 20px;
    color: #2a2438;
}

.back-button a,
.button-mini-icon a, 
.button a,
.button-large-left a,
.button-large-right a {
    text-decoration: none;
    color: #2a2438;
}

.button-large-left,
.button-large-right {
    padding: auto 0px;
    margin: 0 2vw;
    width: 70px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 1em;
    border: none;
    color: #2a2438;
}

.button-large-right {
    float: right;
    text-align: right;

}

.button-large-left {
    float: left;
    text-align: left;
}

.button:hover,
button a:hover,
.material-symbols-outlined:hover {
    background: #e9e7ee;
}

.button:hover {
    box-shadow: 1px 1px 5px grey;
}

/* Mobile MODAL 
Basis settings for screen sizes up to 1024 width
Modify for tablets and desktop below*/

.preview-edit-container {
    display: none;
    position: absolute;
    top: 0px;
    background-color: #e9e7ee;
    width: 100%;
    min-height: 100%;
    padding-bottom: 70px;
    z-index: 201;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding-bottom: 150px;
}

.preview-edit-window {
    position: relative;
    top: 70px;
    width: 98%;
    margin: auto;
    background-color: #e9e7ee;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.preview-edit-container:target {
    display: block;
    pointer-events: auto;
}

@media screen and (min-width: 1025px) {

    .desktop-none {
        display: none;
    }

    .desktop-display {
        display: block;
    }

    .button-large-left,
    .button-large-right {
        display: inline-block;
        border: solid 1px #2a2438;
        border-radius: 20px;
        margin: 10px 10px;
        width: 90px;
        height: 40px;
        font-weight: bold;
        text-align: center;
        font-size: 1em;
    }

    .footer-view {
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 200;
        width: 25%;
        height: 59px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 15px;
        border: none;
        box-shadow: none;
    }

    .footer-edit {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 0px 50px;
    }

}