/* GENERAL */

a {
    text-decoration: none;
    color: #2a2438;
}

* {
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-size: 24px;
}

body {
    padding: 0;
    border: none;
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}

textarea,
input,
select,
label {
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
    }


/* Mobile Navigation --Start-- */

/* Mobile Navigation --End-- */


/* Mobile Headers --Start-- */


/* MH --previewInvoice.html-- */

.preview-header,
.page-view-header,
.edit-header,
.payment-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    color: #2a2438;
    background-color: #e9e7ee;
    opacity: 1;
    padding: 10px 0px 5px;
    margin: 0px;
    border: none;
    z-index: 3;
}

.edit-header {
    border-bottom: 1px solid darkgrey;
}

.preview-header h2,
.page-view-header h2,
.edit-header h2,
.payment-header h2 {
    display: inline;
    width: 70%;
    /* adjacent buttons (left/right) are styled at 15% */
    height: 40px;
    color: #2a2438;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

.payment-header {
    height: 140px;
}

.edit-header h2,
.payment-header h2 {
    width: 100%;
}

.payment-header p {
    display: block;
    width: 100%;
    height: 30px;
    margin: -25px 0px 20px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
    color:#2a2438;
}

/* Mobile Headers --End-- */


/* Mobile Footers -- Start --  */

/* MF -- previewInvoice.html -- */

/* fixed footer accross bottom of screen */
.preview-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    color: #2a2438;
    background-color: #e9e7ee;
    opacity: 1;
    padding: 10px 10px 10px;
    margin: 0px;
    z-index: 2;
    border: none;
}

.edit-footer {
    border-top: 1px solid darkgrey;
}


/* Mobile Buttons -- Start -- */

/* MB --previewInvoice.html-- */

.top-right-desktop {
    display: none;
}

.top-left-mobile,
.top-right-mobile {
    display: inline;
    width: 15%;
    height: 40px;
    color: #2a2438;
    background-color: transparent;
    border: none;
    padding: 0px 20px 0px;
    font-weight: bold;
    margin: 0px 0px 5px;
    border: none;
    z-index: 2;
}

.top-left-mobile {
    text-align: left;
}

.top-right-mobile {
    text-align: right;
}

.save,
.cancel {
    width: 20%;
    padding: 10px 10px 0px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e9e7ee;
    color: #2a2438;
    border: none;
}

.close {
    display: none;
}

.large-right {
    text-align: right;
    width: 20%;
    margin-left: 30%;
    padding: 10px 10px 0px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e9e7ee;
    color: #2a2438;
    border: none;
}

.mini-icon {
    display: inline-block;
    padding: 5px 10px 0px;
    font-weight: bold;
    background-color: #e9e7ee;
    color: #2a2438;
    border: none;
    width: 10%;
    margin: 0px 0px 0px 5%;
}

/* Mobile Buttons -- End -- */

/* Mobile Content -- Start -- */

/* MC -- previewInvoice.html -- */

/* Content Containers. All but one content container hidden until activated */
.preview-container,
.page-view-container,
.edit-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #e9e7ee;
    z-index: 1;
}

.edit-container,
.page-view-container {
    display: none;
}

.edit-container:target,
.page-view-container:target {
    display: flex;
    z-index: 2;
}

/* Content for previewInvoice.html */

.preview-table {
    width: 90%;
    max-width: 500px;
}

.preview-table td {
    background-color: lightgrey;
    padding: 20px 0px 20px 20px;
}

.preview-table td:nth-child(1) {
    width: 35%;
}

.preview-table td:nth-child(2) {
    width: 65%;
}

/* MC #page-view */

/* mimics a sheet of paper 99% width with height as a function of
width to create 8.5 x 11 ratio */
.x8x11-container {
    position: relative;
    width: 99vw;
    height: 130vw;
    background: white;
    color: black;
    margin: auto;
}

/* font-size relative to page size / scales from mobile to 
1024px width screen. Adjusted below for desktop with @media 1025px */
.x8x11-font {
    font-size: 2vw;
}

.x8x11-number-date h2 {
    font-size: 4vw;
}

/* eliminate gap between name and address, set font to normal */
address {
    font-style: normal;
    margin-top: -4%;
}

/* 4 boxes to contain company/customer info, logo and date/invoice number */
.x8x11-top-grid {
    display: inline-block;
    width: 49%;
    height: 15%;
}

/* Company address in upper left corner*/

.x8x11-company-address {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 2% 0px 0px 3%;
}

.x8x11-company-address p {
    font-weight: bold;

}

/* Company logo in upper right corner */

.x8x11-logo {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 2% 3% 0px 0px;
}

.logo {
    float: right;
    width: 30%;
    height: auto;
    margin-top: 0;

}

/* Customer "BILL TO:" name and address*/

.x8x11-customer-address {
    position: absolute;
    top: 16%;
    left: 0px;
    margin: 0px;
    padding: 0px 0px 0px 5%;
}

.x8x11-customer-address h3 {
    height: 25%;

}

/* "INVOICE" h2 and invoice number/date */

.x8x11-number-date {
    position: absolute;
    top: 16%;
    right: 0px;
    margin: 0px;
    padding: 2% 3% 0px 0px;
}

.x8x11-number-date h2 {
    display: block;
    text-align: right;
    width: 100%;
    height: 30%;
    padding: 0px 2%;
    margin: -5% 0px 5%;
    /* Set-font size above */
}

.span-left,
.span-right {
    display: inline-block;
    width: 48%;
    background-color: white;
    height: 5%;
    margin: 0px;
}

.span-left {
    text-align: right;
    font-weight: bold;
}

/* Work descriptions and amounts */

/* box to hold table */

.x8x11-center-box {
    display: block;
    position: absolute;
    top: 31%;
    width: 100%;
    height: 60%;
}

/* the table */

.x8x11-table {
    width: 96%;
    position: relative;
    border-collapse: collapse;
    margin: 0px auto;
}

.x8x11-table thead tr {
    width: 100%;
    border-bottom: solid darkgrey 3px;
}

.x8x11-table tr {
    width: 100%;
}

.x8x11-table td {
    padding-top: 1%;
}

.x8x11-table td:nth-child(1),
.x8x11-table th:nth-child(1) {
    width: 85%;
    padding-left: 2vw;
}

.x8x11-table td:nth-child(2),
.x8x11-table th:nth-child(2) {
    width: 15%;
    text-align: right;
    padding-right: 2vw;
}

.x8x11-table tfoot tr {
    border-top: solid black 1px;
}

.x8x11-table tfoot td:nth-child(1) {
    text-align: right;
}

.x8x11-footer {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
}

/* M Edit View (a div within previewInvoice.html) */

.edit-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 60px 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #e9e7ee;
    z-index: 1;
    overflow: auto;
}

.edit-container:target {
    display: block;
    z-index: 2;
}

.edit-datepicker-div,
.edit-customer-selector-div {
    width: 96%;
    height: 40px;
    background-color: white;
    border: solid darkgrey 1px;
    margin: 5px auto 0px;
}

.edit-label-date {
    display: inline-block;
    margin-left: 3%;
}

.edit-date-picker {
    margin-left: 1%;
    margin-top: 5px;
    padding-top: 5px;
} 

.customer-selector {
    width: 94%;
    margin-left: 2%;
    margin-top: 5px;
}

.edit-item-description-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: darkgrey 1px solid;
    background: white;
    width: 96%;
    margin: 5px auto 0px;
}

.item-1 {
    margin-top: 30px;
}

.item-last {
    margin-bottom: 70px;
}

.p-item-label {
    display: inline-block;
    height: 30px;
    width: 47%;
    margin-left: 3%;
    padding: 10px 0px;
    order: 1;
}

.p-amount-label {
    display: inline-block;
    font-weight: bold;
    order: 2;
    width: calc(46% - 95px);
    padding: 10px 0px;
    text-align: right;
    margin: 3px 1% 0px 0px;
}

.p-amount-textarea {
    display: inline-block;
    text-align: center;
    order: 3;
    height: 30px;
    padding: 10px 0px;
    width: 95px;
    margin: 10px 3% 0px 0px;
    border: darkgrey solid 1px;
    border-radius: 5px;
}

.p-item-textarea {
    display: inline-block;
    order: 4;
    width: 94%;
    margin: 5px 3% 10px;
    padding: 5px 8px;
    height: 48px;
    overflow: hidden;
    border: darkgrey solid 1px;
    border-radius: 5px;
}

.p-item-textarea:focus {
    height: 95px;
    z-index: 200;
}

/* M Payment (a div within previewInvoice.html) */

.payment-container {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 140px 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #e9e7ee;
    overflow: auto;
}

.payment-container:target {
    display: block;
    z-index: 20;
}

.radio-payment {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.radio-payment label {
    background-color: #e9e7ee;
}

.payment-reference-div,
.payment-method-div,
.payment-notes-div {
    width: 96%;
    margin: auto;
    height: 40px;
    background-color: white;
    border: solid darkgrey 1px;
    padding-top: 5px;
}

.payment-label {
    display: inline-block;
    margin: 5px 0px 0px 3%;
}

.method-selector {
    width: 200px;
}

.payment-reference-textarea {
    height: 100%;
}

.payment-notes-div {
    border-bottom: none;
    height: 150px;
    border-bottom: solid grey 1px;
}

.payment-notes-text-area {
    width: 94%;
    margin: 5px 3% 10px;
    padding: 5px 8px;
    height: 95px;
    overflow: hidden;
}

@media screen and (min-width:768px) {

    .preview-header,
    .page-view-header,
    .edit-header {
        height: 60px;
        
    }

    .page-view-container:target {
        display: block;
        padding-top: 60px;
        background-color: #e9e7ee;
        z-index: 1;
    }

    .preview-footer {
        height: 70px;
        
    }
}











/* edit-container is styled below along with it's contents */






/* Mobile UI

Header. */



.footer-edit,
.footer-view {
    position: fixed;
    bottom: 0px;
    z-index: 205;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #e9e7ee;
    opacity: .9;
}

/* Buttons */






/* Mobile MODAL 
Basis settings for screen sizes up to 1024 width
Modify for tablets and desktop below*/



@media screen and (min-width: 1025px) {

    /* Desktop Pageview */

    .x8x11-font {
        font-size: 1.5vh;
    }

    .x8x11-number-date h2 {
        font-size: 3vh;
    }

    .x8x11-container {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 76vh;
        height: 98vh;
        background-color: white;
        color: black;
        border: darkgrey 1px solid;
        z-index: 101;
    }



    .top-right-desktop {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
        color: #2a2438;
        background-color: #e9e7ee;
        border: none;
        height: 40px;
        width: 40px;
        margin: 0px;
        padding: 8px;
        font-weight: bold;
        border-radius: 40px;
    }

    .top-right-desktop:hover,
    .top-right-desktop a:hover {
        background-color: lightgrey;
        color: white;
    }

    .large-left,
    .large-right {
        width: 80px;
        height: 40px;
        padding: 5px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        background-color: #e9e7ee;
        color: #2a2438;
        border: #2a2438 solid 1px;
        border-radius: 20px;
    }

    .mini-icon {
        font-weight: bold;
        height: 40px;
        width: 40px;
        padding: 7px;
        text-align: center;
        background-color: #e9e7ee;
        color: #2a2438;
        border: #2a2438 solid 1px;
        border-radius: 20px;
    }

    .large-left:hover,
    .large-right:hover,
    .mini-icon:hover {
        background-color: #f5f4f7;
        box-shadow: 5px 5px 2px darkgrey;
    }

    .preview-container {
        display: block;
        position: fixed;
        left: auto;
        right: 0px;
        top: 150px;
        width: calc(96vw - 76vh);
        justify-content: flex-start;
        padding: 20px;
    }

    .x8x11-container {
        display: block;
        width: 76vh;
    }

    .preview-preview-table-header {
        top: 0px;
        left: auto;
        right: 0px;
        width: calc(96vw - 76vh);
        z-index: 2;
    }

    .preview-page-header {
        display: none;
    }

    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        top: auto;
        left: auto;
        right: 0px;
        bottom: 0px;
        width: calc(96vw - 76vh);
        color: #2a2438;
        background-color: #e9e7ee;
        opacity: 1;
        padding: 0px 10px 10px;
        margin: 0px;
        z-index: 2;
        border: none;
    }

    .desktop-none {
        display: none;
    }

    .desktop-display {
        display: block;
    }





    .delete {
        order: 2;
    }

    .print {
        order: 3;
    }

    .payment {
        order: 4;
    }

    .footer-view {
        display: none;
        top: 0px;
        right: 0px;
        z-index: 200;
        width: 600px;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px 0px;
        border: none;
        box-shadow: none;
    }

    .footer-edit {
        display: none;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 0px 50px;
    }

}

@media print {

    .header {
        display: none;
    }

    .preview-main {
        width: 750px;
        height: 940px;
        z-index: 1;
        background-color: white;
        border: none;
        box-sizing: border-box;
    }

    .content-font-1 {
        font-size: 12px;
    }

    .page-preview-container {
        display: block;
        box-sizing: border-box;
        width: 750px;
        margin: none;
        height: 940px;
        position: fixed;
        top: 0px;
        left: 0px;
        background: white;
        color: black;
        z-index: 102;
        border: none;
        box-shadow: none;
    }

    .invoice-preview-foot {
        bottom: 0%;
    }

    .print-none {
        display: none;

    }

}