body {
    padding: 0;
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: #e9e7ee;
    font-family: Verdana;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #2a2438;
}

* {
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-size: 24px;
}



/* Mob-Inv-Prev-Gen */

.preview-container,
.page-container,
.edit-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #e9e7ee;
    z-index: 1;
}

.page-container,
.edit-container {
    display: none;
}

.page-container:target,
.edit-container:target {
    display: flex;
    z-index: 2;
}

.preview-header,
.page-header,
.edit-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    color: #2a2438;
    background-color: #e9e7ee;
    opacity: 1;
    padding: 10px 0px 5px;
    margin: 0px;
    z-index: 2;
    border: none;
}

.top-left-mobile,
.top-right-mobile {
    display: inline-block;
    width: 15%;
    height: 40px;
    color: #2a2438;
    background-color: transparent;
    border: none;
    padding: 0px 20px 0px;
    font-weight: bold;
    margin: 0px 0px 5px;
}

.top-left-mobile {
    text-align: left;
}

.top-right-mobile {
    text-align: right;
}

.preview-h2 {
    display: inline-block;
    width: 70%;
    height: 40px;
    color: #2a2438;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

.top-right-desktop {
    display: none;
}

.preview-table {
    width: 96%;
    background-color: transparent;
}

.preview-table td {
    padding: 25px 15px;
    background-color: #f2f2f2;
}

.preview-table td:nth-child(1) {
    width: 40%;
}

.preview-table td:nth-child(2) {
    width: 60%;
}

.preview-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #2a2438;
    background-color: #e9e7ee;
    opacity: 1;
    padding: 0px 10px 10px;
    margin: 0px;
    z-index: 2;
    border: none;
}

.large-left,
.large-right {
    width: 20%;
    padding: 10px 10px 0px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e9e7ee;
    color: #2a2438;
    border: none;
}

.large-left {
    text-align: left;
}

.large-right {
    text-align: right;
}

.mini-icon {
    padding: 5px 10px 0px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #e9e7ee;
    color: #2a2438;
    border: none;
}



/* Mob-Inv-Edit */

.edit-container {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 0px;
    overflow: scroll;
    background-color: #e9e7ee;
    margin-top: 20px;
}

.label,
.input {
    width: 90%;
    margin: 0px 10% 0px;
    height: 40px;
    padding: 5px;
    font-size: 1rem;
    vertical-align: middle;
    color: black;
}

.date::-webkit-datetime-edit {
    padding: 10px 5px;
}

.label {
    font-size: .9rem;
}

.input {
    background-color: white;
    border: black 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
}

.textarea {
    height: 100px;
    overflow: hidden;
    padding: 10px;
}

.label-amount {
    width: 40%;
    text-align: right;
    margin-right: 0px;
    
}

.amount {
    width: 35%;
    text-align: center;
    margin-left: 5%;
}


.transaction p {
    text-align: center;
    margin: 0px;
    height: 30px;
    width: 100%;
}




input,
select {
    color: black;
    border: solid black 1px;
    border-radius: 15px;
    padding: 5px;
}



/* Mobile Pageview */

.pageview-font {
    font-size: 2vw;
}

.pageview-container {
    position: relative;
    width: 99vw;
    height: 130vw;
    background: white;
    color: black;
}

address {
    font-style: normal;
    margin-top: -4%;
}

.pageview-top-grid {
    display: inline-block;
    width: 49%;
    height: 15%;
}

/* Company address in upper left corner*/
.pageview-company-address {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 2% 0px 0px 3%;
}

.pageview-company-address p {
    font-weight: bold;

}

/* Company logo in upper right corner */

.logo-container {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 2% 3% 0px 0px;
}

.logo {
    float: right;
    width: 30%;
    height: auto;
    margin-top: 0;

}

/* Customer "BILL TO:" name and address*/
.customer-address {
    position: absolute;
    top: 16%;
    left: 0px;
    margin: 0px;
    padding: 0px 0px 0px 5%;
}

.customer-address h3 {
    height: 25%;

}

.box-4 {
    position: absolute;
    top: 16%;
    right: 0px;
    margin: 0px;
    padding: 2% 3% 0px 0px;
}

.box-4 h2 {
    display: block;
    text-align: right;
    width: 100%;
    height: 30%;
    font-size: 4vw;
    padding: 0px;
    margin: -5% 0px 0px;
}

.span-left,
.span-right {
    display: inline-block;
    width: 48%;
    background-color: white;
    height: 30%;
    margin: 0px;
}

.span-left {
    text-align: right;
    font-weight: bold;
}

.center-box {
    display: block;
    position: absolute;
    top: 31%;
    width: 100%;
    height: 60%;
}


.pageview-table {
    width: 96%;
    position: relative;
    border-collapse: collapse;
    margin: 0px auto;
}

.pageview-table thead tr {
    width: 100%;
    background-color: lightgrey;
}

.pageview-table tr {
    width: 100%;
    height: 5vw;
}

.pageview-table td:nth-child(1),
.pageview-table th:nth-child(1) {
    width: 85%;
    padding-left: 2vw;
}

.pageview-table td:nth-child(2),
.pageview-table th:nth-child(2) {
    width: 15%;
    text-align: right;
    padding-right: 2vw;
}

.pageview-table tfoot tr {
    border-top: solid black 1px;
}

.pageview-table tfoot td:nth-child(1) {
    text-align: right;
}

.pageview-footer {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
}





/* edit-container is styled below along with it's contents */






/* Mobile UI

Header. */



.footer-edit,
.footer-view {
    position: fixed;
    bottom: 0px;
    z-index: 205;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #e9e7ee;
    opacity: .9;
}

/* Buttons */






/* Mobile MODAL 
Basis settings for screen sizes up to 1024 width
Modify for tablets and desktop below*/



@media screen and (min-width: 1025px) {

    /* Desktop Pageview */

    .pageview-font {
        font-size: 1.5vh;
    }

    .pageview-container {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        width: 76vh;
        height: 98vh;
        background-color: white;
        color: black;
        border: darkgrey 1px solid;
        z-index: 101;
    }

    .top-right-mobile,
    .top-left-mobile {
        display: none;
    }

    .top-right-desktop {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
        color: #2a2438;
        background-color: #e9e7ee;
        border: none;
        height: 40px;
        width: 40px;
        margin: 0px;
        padding: 8px;
        font-weight: bold;
        border-radius: 40px;
    }

    .top-right-desktop:hover,
    .top-right-desktop a:hover {
        background-color: lightgrey;
        color: white;
    }

    .large-left,
    .large-right {
        width: 80px;
        height: 40px;
        padding: 5px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        background-color: #e9e7ee;
        color: #2a2438;
        border: #2a2438 solid 1px;
        border-radius: 20px;
    }

    .mini-icon {
        font-weight: bold;
        height: 40px;
        width: 40px;
        padding: 7px;
        text-align: center;
        background-color: #e9e7ee;
        color: #2a2438;
        border: #2a2438 solid 1px;
        border-radius: 20px;
    }

    .large-left:hover,
    .large-right:hover,
    .mini-icon:hover {
        background-color: #f5f4f7;
        box-shadow: 5px 5px 2px darkgrey;
    }

    .preview-container {
        display: block;
        position: fixed;
        left: auto;
        right: 0px;
        top: 150px;
        width: calc(96vw - 76vh);
        justify-content: flex-start;
        padding: 20px;
    }

    .pageview-container {
        display: block;
        width: 76vh;
    }

    .preview-preview-table-header {
        top: 0px;
        left: auto;
        right: 0px;
        width: calc(96vw - 76vh);
        z-index: 2;
    }

    .preview-page-header {
        display: none;
    }

    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        top: auto;
        left: auto;
        right: 0px;
        bottom: 0px;
        width: calc(96vw - 76vh);
        color: #2a2438;
        background-color: #e9e7ee;
        opacity: 1;
        padding: 0px 10px 10px;
        margin: 0px;
        z-index: 2;
        border: none;
    }

    .desktop-none {
        display: none;
    }

    .desktop-display {
        display: block;
    }

    .exit-button {
        float: right;
        display: inline;
        z-index: 300;
    }



    .button:hover {
        box-shadow: 1px 1px 5px grey;
    }


    .button-large-left,
    .button-large-right {
        display: inline-block;
        border: solid 1px #2a2438;
        border-radius: 20px;
        margin: 0px 10px;
        width: 90px;
        height: 40px;
        font-weight: bold;
        text-align: center;
        font-size: 1em;
    }

    .button-large-left {
        order: 5;
    }

    .button-large-right {
        order: 4;
    }

    .delete {
        order: 2;
    }

    .print {
        order: 3;
    }

    .payment {
        order: 4;
    }

    .footer-view {
        display: none;
        top: 0px;
        right: 0px;
        z-index: 200;
        width: 600px;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px 0px;
        border: none;
        box-shadow: none;
    }

    .footer-edit {
        display: none;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 0px 50px;
    }

}

@media print {

    .header {
        display: none;
    }

    .preview-main {
        width: 750px;
        height: 940px;
        z-index: 1;
        background-color: white;
        border: none;
        box-sizing: border-box;
    }

    .content-font-1 {
        font-size: 12px;
    }

    .page-preview-container {
        display: block;
        box-sizing: border-box;
        width: 750px;
        margin: none;
        height: 940px;
        position: fixed;
        top: 0px;
        left: 0px;
        background: white;
        color: black;
        z-index: 102;
        border: none;
        box-shadow: none;
    }

    .invoice-preview-foot {
        bottom: 0%;
    }

    .print-none {
        display: none;

    }

}