* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.col-1 {
    width: 60%;
    font-size: 1rem;
    font-weight: bold;
    order: 1;
}

.col-2 {
    width: 60%;
    height: 40px;
    font-size: .9rem;
    order: 3;
}

.table-address-1,
.table-address-2 {
    display: block;
    width: 100%;
    font-size: .8rem;
}

.col-3 {
    width: 30%;
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
    order: 2;
}

.company-logo {
    height: 250px;
    border: none;
}

@media screen and (min-width: 768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        display: inline-block;
        width: 15%;
        order: unset;
        text-align: left;
        font-weight: normal;
        font-size: 1rem;
    }

    .col-1 {
        width: 25%;
        padding-right: 15px;
    }

    .col-2 {
        width: 45%;
        text-overflow: ellipsis;
        height: 25px;
        padding-right: 15px;
    }



    .table-address-1,
    .table-address-2 {
        display: inline;
        width: auto;
        font-size: inherit;
    }

    .table-address-1::after {
        content: ","
    }

    .table-address-2::before {
        content: " "
    }


}

@media screen and (min-width: 1025px) {

    body {
        background-color: #dbd8e3;
        padding-top: 0px;
    }

}