* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.col-1 {
    width: 90%;
    font-size: 1rem;
    font-weight: bold;

}

.col-2 {
    width: 60%;
    height: 40px;
    font-size: .9rem;
}

.table-address-1,
.table-address-2 {
    display: block;
    width: 100%;
    font-size: .8rem;
}

.col-3 {
    width: 20%;
    font-size: 1rem;
    text-align: right;
    font-weight: bold;
}

.tr-logo {
    height: 250px;
}

.col-logo {
    border: none;
    width: 80%;
    height: 250px;
}

.pay-1 {
    width: 15%;
    font-size: 1rem;
}

.pay-2 {
    width: 55%;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {

    .col-1 {
        width: 20%;
    }
    

    .table-address-1,
    .table-address-2 {
        display: inline;
        width: auto;
        font-size: inherit;
    }

    .table-address-1::after {
        content: ","
    }

    .table-address-2::before {
        content: " "
    }


}

@media screen and (min-width: 1025px) {

    body {
        background-color: #dbd8e3;
        padding-top: 0px;
    }

}