/* GENERAL */

a {
    text-decoration: none;
    color: #2a2438;
}

* {
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-size: 24px;
}

body {
    padding: 0;
    border: none;
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    text-align: left;
    font-size: 100%;
    overflow: auto;
}




textarea,
input,
select,
label {
    font-size: 1rem;
    color: black;
    background-color: white;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
}

/* Overview Cards general styling */

/* Wrappers for Cards */
.overview-chart-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    border: darkgrey 1px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    overflow: hidden;
}

.overview-chart-wrapper-invoices {
    grid-area: invoice;
}

.overview-chart-wrapper-cashflow {
    grid-area: cashflow;
}

.overview-chart-wrapper-expenses {
    grid-area: expenses;
}

.overview-chart-wrapper-payments {
    grid-area: payments;
}

.overview-chart-h5 {
    display: inline-block;
    margin: 10px 0 0 20px;
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Extra Text beneath h4 */
.overview-chart-p {
    display: inline-block;
    margin: 5px 0 0 20px;
    width: 50%;
    font-size: .7rem;
}

/* Invoice Chart Styles*/

.overview-chart-invoice-bar-wrapper {
    overflow: hidden;
    margin: 20px auto 0px;
    width: 100%;
}

.invoice-bar-unpaid {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 5% auto 0;
    width: 13%;
    height: 50px;
    border: black 2px solid;
    background-color: darkRed;
    border-radius: 5px;
}

.invoice-bar-paid {
    float: left;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px 0 auto 5%;
    width: 77%;
    height: 50px;
    border: black 2px solid;
    background-color: green;
    border-radius: 5px;
}

.overview-chart-invoice-UNPAID-span {
    float: right;
    margin-right: 5%;
}

.overview-chart-invoice-PAID-span {
    float: left;
    margin-left: 5%;
}

/* Cash-flow Chart Styles*/

.overview-profit-loss-chart {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 5%;
    width: 90%;
    height: 200px;
    border-bottom: darkgrey 2px solid;
}

.overview-bar-payments {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 10%;
    display: block;
    width: 20%;
    height: 166px;
    border: darkgrey 2px solid;
    border-bottom: none;
    background-color: #003a6d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overview-bar-expenses {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 40%;
    display: block;
    width: 20%;
    height: 34px;
    border: darkgrey 2px solid;
    border-bottom: none;
    background-color: #00539a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overview-bar-profit {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 70%;
    display: block;
    width: 20%;
    height: 138px;
    border: darkgrey 2px solid;
    border-bottom: none;
    background-color: #0072c3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overview-profit-loss-left-bold {
    float: left;
    width: 20%;
    text-align: center;
    margin: 0 0 0 12.5%;
    font-size: .6rem;
    font-weight: bold;
}

.overview-profit-loss-center-bold {
    float: left;
    text-align: center;
    width: 20%;
    margin: 0 0 0 7.8%;
    font-size: .6rem;
    font-weight: bold;
}

.overview-profit-loss-right-bold {
    float: right;
    text-align: center;
    width: 20%;
    margin: 0 14% 0 0;
    font-size: .6rem;
    font-weight: bold;
}

.overview-profit-loss-left-small {
    float: left;
    width: 20%;
    text-align: center;
    margin: 0 0 0 12.5%;
    font-size: .6rem;
}

.overview-profit-loss-center-small {
    float: left;
    text-align: center;
    width: 20%;
    margin: 0 0 0 7.8%;
    font-size: .6rem;
}

.overview-profit-loss-right-small {
    float: right;
    text-align: center;
    width: 20%;
    margin: 0 14% 0 0;
    font-size: .6rem;
}

/* Expense Chart Styling */

.overview-expense-list {
    margin-left: 2%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.overview-expense-list li {
    margin-bottom: 10px;
}

.overview-expense-list-bold {
    font-weight: bold;
    font-size: 1rem;
    color: #00539a;
}

.overview-expense-list-small {
    font-size: .6rem;
}

/* Payments Chart Styling */

.overview-payments-chart-table {
    width: 94%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overview-payments-chart-table tr {
    display: flex;
    flex-flow: row wrap;
}

.overview-payments-chart-table td {
    padding: 4px;
}

.overview-col-1 {
    font-size: .8rem;
    width: 100%;
    order: 3;
    padding-bottom: 5px;
    border-bottom: solid darkgrey 1px;
}

.overview-col-2 {
    font-size: 1rem;
    width: 50%;
    font-weight: bold;

}

.overview-col-3 {
    font-size: 1rem;
    width: 50%;
    text-align: right;
    font-weight: bold;
}


.overview-payments-chart-more {
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.overview-payments-chart-more a {
    text-decoration: none;
    color: darkblue;
}

/* Main Desktop Grid and Postioning */

.site-grid {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template: 90px 30px 1fr / 200px 1fr;
    grid-template-areas:
        "header section"
        "header main"
        "nav main";

}

/* Solobooks + Company Name */
.site-header {
    grid-area: header;
    width: 100%;
    height: 100% z-index: 5;
    background-color: #2a2438;
    overflow: hidden;
    text-align: left;
    border-right: #2a2438 solid 2px;
}

/* Navigation Bar Down Side */
.site-nav {
    grid-area: nav;
    width: 200px;
    height: 100%;
    z-index: 5;
    background-color: transparent;
    overflow: hidden;
    text-align: left;
    border-right: #2a2438 solid 2px;
}

/* Top Light Purple Section */
.site-section {
    z-index: 5;
    width: 100%;
    height: 100%;
    grid-area: section;
    background-color: #dbd8e3;
    display: grid;
    grid-template: 30px 15px 15px / 20px 100px 1fr 100px;
    grid-area:
        "margin location blank delete"
        "margin customer blank button-1"
        "margin button-2 button-3 balance"
}

/* Main White Area */
.site-main {
    z-index: 5;
    width: 100%;
    height: 100%;
    grid-area: main;
    background-color: white;
    border-top: darkgrey solid 1px;
    overflow: auto;
}



/* Desktop Navigation --Start-- */

.site-nav-background {
    grid-area: nav;
    width: 100%;
    height: 307px;
    z-index: 4;
    background-color: #dbd8e3;
}

.site-nav-background-alt {
    grid-area: nav;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #2a2438;
}

.navigation {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-bottom: none;
}

.navigation li {
    width: 100%;
    margin: 0px;
    text-align: left;
    color: #dbd8e3;
    display: inline-block;
}

.navigation span {
    display: inline-block;
    text-align: center;
}

.navigation a {
    padding: 16px 24px;
    font-size: 1.2rem;
    display: block;
    border-radius: 0px;
    color: #dbd8e3;
    background-color: #2a2438;
    margin: .5px 0px;
}

.navigation a:hover {
    background-color: #dbd8e3;
    color: #2a2438;
}

.active a {
    background-color: #dbd8e3;
    color: #2a2438;
    padding: 17px 24px;
    border-top: #2a2438 solid 1px;
    border-bottom: #2a2438 solid 1px;
    margin: -.5px 0px;
}

.bottom-nav {
    width: 200px;
    height: 200px;
    background-color: #2a2438;
    z-index: 10;
}

/* Desktop Headers and <h1> thru <h6> */

.site-h1 {
    width: 100%;
    height: 60px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0px;
    text-align: right;
    text-decoration: none;
    font-size: 28px;
    color: #dbd8e3;
    display: inline-block;
}

.site-h2 {
    width: 100%;
    height: 60px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
    margin: 0px;
    font-size: 20px;
    color: #dbd8e3;
    display: inline-block;
}

.site-h3 {
    color: #2a2438;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
}

.site-h4 {
    height: 25px;
    margin: 5px 0px 5px 5px;
    color: #2a2438;
    display: inline-block;
    width: 50%;
}


/* Desktop Content Area */

/* Div within main to hold content */

.site-content {
    margin: 30px 30px 0px 30px;
    height: 100%;
    display: block;
    width: auto;
    max-width: 1000px;
    width: calc(100vw - 260px);
    min-width: 740px;
    justify-content: center;
}

.whitespace {
    width: 100%;
    height: 30px;
    background-color: white;
    z-index: 6;
    position: fixed;
    top: 91px;
    margin: 0px;
}

.ribbon {
    background-color: #dbd8e3;
    position: sticky;
    top: 55px;
    height: 30px;
    width: 100%;
    margin-top: -2px;
    z-index: 8;
    border: darkgrey 1px solid;
}

.ribbon-top {
    box-shadow: 1px 1px 5px grey;
}

.ribbon-total {
    float: right;
    text-align: right;
    padding: 5px;
}

/* Desktop Tables */

table {
    width: 100%;
    overflow-y: auto;
    z-index: 2;
    border-collapse: collapse;
}

.top-table {
    margin-top: 22px;
}

tr {
    width: 100%;
    position: relative;
    padding: 5px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

.table-head-row {
    width: calc(100vw - 200px);
    max-width: 1060px;
    min-width: 800px;
    position: fixed;
    top: 120px;
    z-index: 7;
    height: 30px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    border: none;
    margin: 0px 0px 0px -30px;
    padding: 0px 30px;
}

.row-hover tr:hover {
    background-color: #f0c993;
    border: solid 1px #f0b36a;
    border-radius: 5px;
}

.row-link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* Desktop Buttons */

.plus-button {
    display: block;
    color: #2a2438;
    height: 40px;
    background-color: #dbd8e3;
    border: solid 1px #2a2438;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.plus-button span {
    height: 38px;
    font-size: 36px;
    border-radius: 18px;
    float: left;
    margin-left: -3px;
}

#plus-button-text {
    font-size: 1.2rem;
    padding: 7.5px;
    font-weight: bold;
}

.button:hover {
    background: #e9e7ee;
    box-shadow: 1px 1px 5px grey;
}


/* Overview Styling */

/* modifies .site-content for overview page to contain cards
    additional styling below at 1200px break point */
#overview-content {
    display: grid;
    grid-template: 30px 200px 370px 35px 900px / 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "ribbon ribbon"
        "invoice invoice"
        "cashflow expenses"
        "ribbon-2 ribbon-2"
        "payments payments";
}

.sticky-ribbon-overview {
    grid-area: ribbon;
    top: 29px;
    width: 101%;
    margin-left: -.5%;

}

.sticky-ribbon-overview-2 {
    grid-area: ribbon-2;
    top: 29px;
    width: 101%;
    margin-left: -.5%;
}

/* Invoices Styling */

.invoices-table-col-1 {
    width: 20%;
}

.invoices-table-col-2 {
    width: 18%;
}

.invoices-table-col-3 {
    width: 35%;
}

.invoices-table-col-4 {
    width: 12%;
}

.invoices-table-col-5 {
    width: 15%;
    text-align: right;
}

/* DC previewInvoice.html --*/




.preview-summary-container {
    display: block;
    position: fixed;
    left: auto;
    right: 0px;
    top: 150px;
    width: calc(96vw - 76vh);
    justify-content: flex-start;
    padding: 20px;
    z-index: 2;
}

/* Desktop Headers --Start-- */

.preview-header {
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    height: 100px;
    padding-top: 50px;
    width: calc(96vw - 76vh);
    justify-content: flex-start;
    z-index: 3;
}

.preview-h3 {
    text-align: left;
    font-size: 1.2rem;
}

.modal-header-h3 {
    font-size: 1.2rem;
}

.payment_container-header {
    height: 190px;
    margin: 0px 0px 20px;
}

.summary_container-header h3,
.pageview_container-header h3 {
    text-align: left;
}

/* Desktop Footers --Start-- */

/* previewInvoice.html */

.preview-footer {
    display: flex;
    position: fixed;
    left: auto;
    right: 0px;
    bottom: 0px;
    width: calc(96vw - 76vh);
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
}



/* Desktop Buttons --Start-- */

/* DB summary_pageview_invoice_containerInvoice.html */

.button-back,
.button-view {
    display: none;
}

.button-exit {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    color: #2a2438;
    background-color: #e9e7ee;
    border: none;
    height: 40px;
    width: 40px;
    margin: 0px;
    padding: 8px;
    font-weight: bold;
    border-radius: 40px;
}

.button-exit:hover,
.button-exit a:hover {
    background-color: lightgrey;
    color: white;
}

.button-print,
.button-payment,
.button-delete,
.button-close,
.button-edit {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: solid 1px #2a2438;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    padding: 7px 6px;
    text-align: center;
    margin: 0px 10px;
}

.button-close,
.button-save,
.button-edit {
    width: 80px;
}



.button-print:hover,
.button-payment:hover,
.button-delete:hover,
.button-close:hover,
.button-save:hover,
.button-edit:hover,
.button-cancel:hover {
    background-color: #f5f4f7;
    box-shadow: 5px 5px 2px darkgrey;
}



/* Desktop Content --Start-- */

/* Overview Charts */

/*Styles the main content area to hold card containers */









.x8x11_wrapper-font {
    font-size: 1.5vh;
}

.x8x11_wrapper-number_date h3 {
    font-size: 3vh;
}

.x8x11_wrapper {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 74vh;
    height: 98vh;
    background-color: white;
    color: black;
    border: darkgrey 1px solid;
    z-index: 101;
}

@media screen and (max-width:1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2) {

    /* Main Mobile General*/

    /* Mobile/Tablet Grid and Positioning */

    .site-grid {
        width: 100%;
        height: 100vh;
        position: fixed;
        display: grid;
        grid-template: 40px 55px 1fr 60px / 100%;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "main";
    }

    .site-section {
        display: none;
    }

    /* Navigation Bar Across Top */
    .site-nav {
        height: 100%;
        width: 100%;
    }

    /* Main Mobile Area */
    .site-main {
        padding-bottom: 70px;
    }

    /* Mobile Navigation --Start-- */

    .site-nav-background,
    .site-nav-background-alt {
        display: none;
    }

    .navigation {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 100%;
        background: #2a2438;
        border: none;
        border-bottom: #dbd8e3 solid 20px;
        display: block;
        z-index: 6;
    }

    .navigation li {
        width: 18%;
        height: 100%;
        margin: 0px;
        text-align: center;
        z-index: 5;
        border: none;
    }

    .navigation a {
        font-size: .6rem;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
        padding: 0px 0px 5px 0px;
    }

    .navigation a:active {
        border: none;
    }

    .navigation span {
        display: block;
        text-align: center;
    }



    /* Main Mobile Headers and <h1> thru <h6> */

    .site-h1 {
        width: 60%;
        height: 40px;
        padding: 10px;
        margin: 0px;
        font-size: 1.2rem;
        color: #dbd8e3;
        display: inline-block;
    }

    .site-h2 {
        width: 38%;
        height: 40px;
        padding: 10px;
        margin: 0px;
        text-align: right;
        font-size: 1rem;
        color: #dbd8e3;
        display: inline-block;
    }

    .site-h3 {
        color: #2a2438;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        margin: 0px 0px 0px 7px;
    }

    /* Mobile Content */

    .site-content {
        margin: 0px;
        height: 100%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .ribbon {
        background-color: #dbd8e3;
        position: sticky;
        top: -20px;
        border: none;
        border-bottom: solid darkgrey 1px;
    }

    .ribbon-top {
        position: sticky;
        top: -5px;
    }

    /* Mobile Tables */

    .whitespace,
    .table-head-row,
    .site-h3 {
        display: none;
    }

    tr {
        justify-content: space-between;
    }

    /* Tablet Invoices */

    .invoices-table-col-1 {
        width: 18%;
    }

    .invoices-table-col-2 {
        width: 15%;
    }

    .invoices-table-col-3 {
        width: 40%;
    }

    .invoices-table-col-4 {
        width: 55px;
        text-align: center;
    }

    .invoices-table-col-5 {
        width: auto;
        text-align: right;
    }

    .invoices-table-unpaid .invoices-table-col-4 {
        color: darkred;
        border: solid darkred 2px;
        padding: 1px 3px;
        border-radius: 3px;
        font-size: .8rem;
    }

    .invoices-table-paid .invoices-table-col-4 {
        color: darkgreen;
        border: solid darkgreen 2px;
        padding: 1px 3px;
        border-radius: 3px;
        font-size: .8rem;
    }

    /* Tablet OVerview */

    #overview-content {
        grid-template-columns: 49% 49%;
    }


    /* Modifies Overview div .site-content */
    

    /* Mobile buttons */

    .plus-button {
        top: auto;
        bottom: 20px;
    }

    /* Mobile Containers --Start-- */

    .preview-pageview-container,
    .preview-summary-container,
    .modal-container {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        margin: 0px;
        padding: 60px 0px;
        width: 100%;
        height: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: #e9e7ee;
        z-index: 1;
    }

    /* Mobile Invoices Styling */

    .invoices-table-col-2::before {
        content: "No. ";
    }


    /* Sets pageview as default view when viewing invoice */
    .preview-pageview-container {
        display: flex;
    }

    .preview-summary-container,
    .modal-container {
        display: none;
    }

    .preview-summary-container:target,
    .modal-container:target {
        display: flex;
        z-index: 500;
    }

    .modal-wrapper {
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: #e9e7ee;
        border-radius: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;
        padding: 100px 0px 50px;
    }




    /* Mobile Headers --Start-- */


    /* MH --summary_pageview_invoice_containerInvoice.html-- */

    .preview-header,
    .modal-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        color: #2a2438;
        opacity: 1;
        padding: 10px 15px 5px;
        margin: 0px;
        border: none;
        z-index: 3;
    }

    .modal-header {
        flex-flow: column;
    }

    .preview-h3,
    .modal-h3 {
        display: inline-block;
        width: 80%;
        /* adjacent button are styled at 15% */
        height: 30px;
        color: #2a2438;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        z-index: 2;
        margin: 0px;

    }

    .modal-h3 {
        display: block;
        width: 100%;
    }

    .modal-header-info {
        display: block;
        width: 100%;
        height: 25px;
        text-align: center;
        font-weight: bold;
        color: #2a2438;
    }




    /* Mobile Footers -- Start --  */

    /* MF -- summary_pageview_invoice_containerInvoice.html -- */

    /* fixed footer accross bottom of screen */
    .preview-footer-mobile {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 60px;
        color: #2a2438;
        background-color: #e9e7ee;
        opacity: 1;
        padding: 10px 10px 10px;
        margin: 0px;
        z-index: 2;
    }


    .edit-footer {
        border-top: 1px solid darkgrey;
    }

    /* Mobile Buttons -- Start -- */

    /* Buttons on main pages */


    /* Buttons for Previews and Modals */

    .button-exit,
    .button-close,
    .button-exit-modal {
        display: none;
    }

    .button-back,
    .button-view {
        display: inline-block;
        height: 40px;
        color: #2a2438;
        background-color: transparent;
        border: none;
        padding: 0px;
        font-weight: bold;
        margin: 0px;
        z-index: 2;
    }

    .button-back {
        text-align: left;
    }

    .button-view {
        text-align: right;
    }

    .button-save,
    .button-cancel {
        width: 20%;
        padding: 10px 10px 0px;
        font-size: 1rem;
        font-weight: bold;
        background-color: #e9e7ee;
        color: #2a2438;
        border: none;
    }

    .button-edit,
    .button-close {
        text-align: right;
        width: 20%;
        margin-left: 30%;
        padding: 10px 10px 0px;
        font-size: 1rem;
        font-weight: bold;
        background-color: #e9e7ee;
        color: #2a2438;
        border: none;
    }

    .button-delete,
    .button-print,
    .button-payment {
        display: inline-block;
        padding: 5px 10px 0px;
        font-weight: bold;
        background-color: #e9e7ee;
        color: #2a2438;
        border: none;
        width: 10%;
        margin: 0px 0px 0px 5%;
    }


    /* Mobile Content -- Start -- */




    /* MC - invoicePreview.html */

    .summary_container-table {
        width: 90%;
        max-width: 500px;
    }

    .summary_container-table td {
        background-color: lightgrey;
        padding: 20px 0px 20px 20px;
    }

    .summary_container-table td:nth-child(1) {
        width: 35%;
    }

    .summary_container-table td:nth-child(2) {
        width: 65%;
    }

    /* selctors and inputs in modals */

    .radio {
        width: 100%;
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        text-align: center;
        margin: 40px auto 10px;
        background: transparent;
    }

    .radio label {
        background: transparent;
    }

    .input_wrapper {
        width: 100%;
        height: 35px;
        background-color: white;
        border-top: solid darkgrey 1px;
        border-bottom: solid darkgrey 1px;
        margin: 5px auto;
        display: inline-flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5%;
    }

    .selector {
        width: 95%;
        margin-left: -4px;
    }

    .label {
        width: 40%;
    }

    .datepicker {
        width: 50%;
    }

    .input {
        width: 50%;
    }

    .notes_wrapper {
        height: 130px;
    }

    .label-notes {
        width: 95%;
    }

    .textarea-notes {
        width: 95%;
        height: 90px;
        margin-bottom: 5px;
    }

    .edit-items-head {
        width: 100%;
        margin: 20px auto 0px;
        background: lightgrey;
        padding: 5px 10px;
        border-top: solid darkgrey 1px;
    }

    .edit-items-description {
        display: inline-block;
        width: 80%;
        margin: 0px;
    }

    .edit-items-amount {
        display: inline-block;
        width: 15%;
        margin: 0px;
    }

    .edit-items-wrapper {
        width: 100%;
        margin: 0px;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 0px;
        border-bottom: darkgrey solid 1px;
    }

    .textarea-item-description {
        width: calc(100% - 110px);
        margin: 0px;
        height: 25px;
        padding: 1px 5px;
        background: transparent;
        overflow: hidden;
        vertical-align: top;
        border: solid 1px darkgrey;
        border-radius: 3px;
    }

    .textarea-item-description:focus {
        height: 120px;
    }

    .textarea-item-amount {
        width: 100px;
        float: right;
        margin: 0px;
        height: 25px;
        background: transparent;
        overflow: hidden;
        vertical-align: top;
        text-align: right;
        border: solid 1px darkgrey;
        border-radius: 3px;
    }

    /* mimics a sheet of paper 99% width with height as a function of
width to create 8.5 x 11 ratio */
    .x8x11_wrapper {
        position: relative;
        width: 98vw;
        height: 129vw;
        background: white;
        color: black;
        margin: 0px;
    }

    /* font-size relative to page size / scales from mobile to 
1024px width screen. Adjusted below for desktop with @media 1025px */
    .x8x11_wrapper-font {
        font-size: 2vw;
    }

    .x8x11_wrapper-number_date h3 {
        font-size: 4vw;
    }

    /* eliminate gap between name and address, set font to normal */
    address {
        font-style: normal;
        margin-top: -4%;
    }

    /* 4 boxes to contain company/customer info, logo and date/_container number */
    .x8x11_wrapper-top_grid {
        display: inline-block;
        width: 49%;
        height: 15%;
    }

    /* Company address in upper left corner*/

    .x8x11_wrapper-top_grid-company_address {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 2% 0px 0px 3%;
    }

    .x8x11_wrapper-top_grid-company_address p {
        font-weight: bold;

    }

    /* Company logo in upper right corner */

    .x8x11_wrapper-top_grid-company_logo {
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0px;
        padding: 2% 3% 0px 0px;
    }

    .x8x11_wrapper-top_grid-company_logo-img_logo {
        float: right;
        width: 30%;
        height: auto;
        margin-top: 0;

    }

    /* Customer "BILL TO:" name and address*/

    .x8x11_wrapper-top_grid-customer_address {
        position: absolute;
        top: 16%;
        left: 0px;
        margin: 0px;
        padding: 0px 0px 0px 5%;
    }

    .x8x11_wrapper-top_grid-customer_address h3 {
        height: 25%;

    }

    /* "INVOICE" h3 and _container number/date */

    .x8x11_wrapper-top_grid-number_date {
        position: absolute;
        top: 16%;
        right: 0px;
        margin: 0px;
        padding: 2% 3% 0px 0px;
    }

    .x8x11_wrapper-top_grid-number_date h3 {
        display: block;
        text-align: right;
        width: 100%;
        height: 30%;
        padding: 0px 2%;
        margin: -5% 0px 5%;
        /* Set-font size above */
    }

    .x8x11_wrapper-top_grid-number_date-span-left,
    .x8x11_wrapper-top_grid-number_date-span-right {
        display: inline-block;
        width: 48%;
        background-color: white;
        height: 5%;
        margin: 0px;
    }

    .x8x11_wrapper-top_grid-number_date-span-left {
        text-align: right;
        font-weight: bold;
    }

    /* Work descriptions and amounts */

    /* box to hold table */

    .x8x11_wrapper-center_box {
        display: block;
        position: absolute;
        top: 31%;
        width: 100%;
        height: 60%;
    }

    /* the table */

    .x8x11_wrapper-center_box-table {
        width: 96%;
        position: relative;
        border-collapse: collapse;
        margin: 0px auto;
    }

    .x8x11_wrapper-center_box-table thead tr {
        width: 100%;
        border-bottom: solid darkgrey 3px;
    }

    .x8x11_wrapper-center_box-table tr {
        width: 100%;
    }

    .x8x11_wrapper-center_box-table td {
        padding-top: 1%;
    }

    .x8x11_wrapper-center_box-table td:nth-child(1),
    .x8x11_wrapper-center_box-table th:nth-child(1) {
        width: 85%;
        padding-left: 2vw;
    }

    .x8x11_wrapper-center_box-table td:nth-child(2),
    .x8x11_wrapper-center_box-table th:nth-child(2) {
        width: 15%;
        text-align: right;
        padding-right: 2vw;
    }

    .x8x11_wrapper-center_box-table tfoot tr {
        border-top: solid black 1px;
    }

    .x8x11_wrapper-center_box-table tfoot td:nth-child(1) {
        text-align: right;
    }

    .x8x11_wrapper-footer {
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 5%;
    }

}

@media screen and (max-height: 480px) and (orientation: landscape) {}

/* MC #edit (a div within summary_pageview_invoice_containerInvoice.html) */


@media screen and (min-width:768px) and (max-width: 1024px) and (orientation: portrait) {

    /* Tablet Headers --Start-- */

    .summary_container-header,
    .pageview_container-header,
    .edit_container-header {
        height: 60px;
        border-bottom: none;
    }

    .modal-header {
        position: relative;
        margin: 20px 0px;
    }

    /* Tablet Containers --Start-- */

    .modal-container {
        background-color: rgba(0, 0, 0, .7);
    }

    .modal-wrapper {
        position: relative;
        width: 700px;
        background-color: white;
        height: auto;
        padding: 0px 30px;
    }

    .modal-payment,
    .modal-expense {
        width: 450px;
    }



    /* Tablet Content --Start-- */

    .input_wrapper {
        width: 350px;
        border: solid darkgrey 1px;
        padding-left: 10px;
        border-radius: 3px;
    }

    .edit-items-head {
        margin-top: 20px;
        border-radius: 3px 3px 0px 0px;
        border-left: solid darkgrey 1px;
        border-right: solid darkgrey 1px;
    }

    .edit-items-wrapper {
        border-left: solid darkgrey 1px;
        border-right: solid darkgrey 1px;
    }

    .close-modal {}

    .close-modal:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    /* Tablet Footers --Start-- */


    .modal-footer {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        width: 90%;
        background-color: white;
        justify-content: space-between;
        margin: 40px auto 30px;
    }

    /* Tablet Buttons --Start-- */

    .button-exit-modal {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
        color: #2a2438;
        background-color: #e9e7ee;
        border: none;
        height: 40px;
        width: 40px;
        margin: 0px;
        padding: 8px;
        font-weight: bold;
        border-radius: 40px;
    }

    .button-exit-modal:hover,
    .button-exit-modal a:hover {
        background-color: lightgrey;
        color: white;
    }

    .button-cancel,
    .button-save {
        display: inline-block;
        width: 80px;
        height: 40px;
        border: solid 1px #2a2438;
        border-radius: 20px;
        font-weight: bold;
        font-size: 1rem;
        padding: 7px 6px;
        text-align: center;
        margin: 0px 10px;
    }

    

}