

.tr-head {
    display: none;
}



table {
    width: 100%;
    margin: 0px;
    position: relative;
    border: none;
    border-collapse: collapse;
}




tr {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    border: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f0c993;
    border: solid 2px #f0b36a;
    border-radius: 5px;
}

td,
th {
    display: inline-block;
    height: 25px;
    padding: 5px 5px 5px 15px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-link:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.red {
    color: darkred;
}

.green {
    color: forestgreen;
}





@media screen and (min-width:768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
        order: unset;
        text-align: left;
        font-weight: normal;
        font-size: .9rem;
    }

    

   

    tr {
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        width: 100%;
        margin: 0px auto;
        height: 40px;
        background: white;
    }
    

    .tr-head {
        position: fixed;
        top: 120px;
        z-index: 98;
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
        width: 100%;
        margin: 0px auto;
        height: 40px;
        background: white;
        border-bottom: solid 1px darkgrey;
    }

    .tr-head th {
        font-weight: bold;
    }

    
}

@media screen and (min-width:1025px) {

    

    table {
        width: calc(100vw - 280px);
        max-width: 1600px;
        margin: 0px auto 0px 235px;
        position: relative;
        border: none;
    }

    .gradient {
        display: none;
    }

    

    .fixed-desktop {
        position: fixed;
        top: 160px;
    }

    .header-ribbon {
        
        top: 0px;
        
    }

    .tr-head {
        top: 111px;
        left: 235px;
        height: 50px;
        padding: 15px 5px;
        width: calc(100vw - 280px);
        max-width: 1600px;
    }

    td,
    th {
        text-align: left;
    }

    tr {
        position: relative;
    }

}

@media screen and (min-width:1366px) {
    .col-last {
        width: 12%;
    }
}